.create_record_page {
  .ant-input:focus {
    box-shadow: none !important;
  }
  
  .image-container {
    &.aspect-square {
      position: relative;
      overflow: hidden;

      .ant-image-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        display: block;
      }
    }
  }
}
